*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

a{
  color: orange;
  text-decoration: none;
}
a:hover{
  filter: brightness(0.8);
}

/* nav */
.navbar{
  height: 100%;
  background-color: #333;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  width: 100%;
}
.navbar ul{
  list-style: none;
  display: inherit;
  align-items: inherit;
}
.navbar p{
  color: #f4f4f4;
}
li{
  padding-right: 1rem;
  color: orange;
}
/* Hero */
.hero{
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
  margin: auto;
  margin-bottom: 1rem;
}

.hero-box{
  text-align: center;
  margin: auto;
  width: fit-content;
  padding: 2rem;
  background-color: teal;
  border-radius: 5px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
}
.hero-box h3{
  font-size: 2rem;
}

/* Second Hero */
.second-hero{
  padding: 2rem;
  display: flex;
  margin: auto;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.second-hero h4{
  font-size: 1.5rem;
}
.hero-box-2{
  text-align: center;
  margin: auto;
  width: 20%;
  min-width: fit-content;
  padding: 2rem;
  background-color: teal;
  border-radius: 5px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
}

/* Province */
.province-container{
  display: grid;
  justify-items: stretch;
  grid-template-columns: repeat( 2, minmax(250px, 1fr) );
  margin-top: 3rem;
  /* align-items: center; */
}

.province-num{
  float: left;
  top: 0px;
}

.province-box{
  text-align: center;
  background-color: #f3f3f3;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
}
.prov-minibox{
  display: grid;
  margin-top: 1rem;
  margin: auto;
  font-size: 1.5rem;
  grid-template-columns: 1fr 1fr;
}
.prov-minibox h6:nth-child(odd){
  text-align: right;
  padding-right: 1rem;
}
.prov-minibox h6:nth-child(even){
  text-align: left;
  padding-left: 1rem;
}

@media screen and (max-width:400px){
  .navbar{
    height: 50px;
    font-size: 10px;
    padding: 0 0.5rem;
  }
  ul h1{
    font-size: 12px
  }
  .province-container{
    grid-template-columns: 1fr;
  }
  .prov-minibox{
    font-size: 1rem;
  }
}

/* Loader */
.loader {
  position: absolute;
  border: 16px solid #333; 
  border-top: 16px solid #fff; 
  border-radius: 50%;
  top: 50vh;
  left: 0; 
  right: 0;
  margin-left: auto; 
  margin-right: auto; 
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}